
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1280px;
    margin: auto;
}

.common-btn{
    background-color: #1D4ED8;
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 0px 5px #577fec;
}
.common-btn:hover{
    background-color: #3c68e0;
}
/* Navbar section */
.nav-container-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo img{
    height: auto;
    max-width: 100%;
    display: block;
    padding: 5px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.nav-container li, a{
    list-style: none;
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}

/* Banner/Hero Section */
.hero-parent{
    background:
        linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)),
        url("images/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.hero-content h1{
    font-size: 5rem;
    font-weight: bold;
}
.hero-content p{
    font-size: 1.4rem;
    text-align: center;
    max-width: 700px;
}
.banner-btn{
    padding: 15px 50px;
    font-size: 1.2rem;
    font-weight: bold;
}

