
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
}

.common-btn{
    background-color: #1D4ED8;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}
.common-btn:hover{
    background-color: #3c68e0;
}
/* Navbar section */
.nav-container-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo img{
    height:auto;
    max-width: 100%;
    display: block;
    padding: 5px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.nav-container li, a{
    list-style: none;
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px 15px;
}
.nav-container li:hover{
    background-color: #eef1fa;
}

/* Banner/Hero Section */
.hero-parent{
    background:
        linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)),
        url("images/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.hero-content h1{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}
.hero-content p{
    font-size: 1.4rem;
    text-align: center;
    max-width: 700px;
}
.banner-btn{
    padding: 15px 50px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Meet the speakers section */
.meet-speakers-parent{
    padding: 80px 60px;
}
.meet-speakers-parent h2{
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    color: #000102;
}
.meet-speakers-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 56px 0;
}
.meet-speakers-container .box{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}
.meet-speakers-box-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 8px;
    padding: 24px;
}
.meet-speakers-box-content span{
    color: #2563EB;
    font-size: 0.75rem;
    font-size: 600;
}
.meet-speakers-box-content h3{
    color: #0D1B2A;
    font-size: 1.25rem;
    font-weight: bold;
}
.meet-speakers-box-content p{
    color: #575757;
    font-size: 0.9rem;
}
